{% if settings.enable_announcement_bar and settings.announcement_bar_text != blank %}
    <div class="announcement-bar bg-orange text-cream py-2 px-6 md:px-0">
        <div class="container-full relative richtext text-center font-matter tracking-wider text-13 leading-tight md:px-0">
            <div class="md:hidden">{{ settings.announcement_bar_text }}</div>
            <div class="md_min:hidden">
                <div class="ticker-wrap">
                    <div class="ticker" style="animation-duration: {{ settings.announcement_bar_speed }}s; -webkit-animation-duration: {{ settings.announcement_bar_speed }}s;">
                        <div class="ticker__item">{{ settings.announcement_bar_text }}</div>
                    </div>
                </div>
            </div>
            {% comment %} <a href="#" class="absolute-center right-0 hover:opacity-60 md:hidden">     
                <svg class="absolute-center right-0 cursor-pointer" width="10px" height="9px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1418.000000, -12.000000)">
                            <rect id="Rectangle" fill="#DD9B00" x="0" y="0" width="1440" height="33"></rect>
                            <polygon id="✕" fill="#FBF1DC" fill-rule="nonzero" points="1427.20695 21 1427.93693 20.2700195 1424.14103 16.4741211 1427.93693 12.6782227 1427.20695 11.9545898 1423.41105 15.7504883 1419.61515 11.9545898 1418.89152 12.6782227 1422.68742 16.4741211 1418.89152 20.2700195 1419.61515 21 1423.41105 17.2041016"></polygon>
                        </g>
                    </g>
                </svg>
            </a> {% endcomment %}
        </div>
    </div>
{% endif %}