.about__quote {
    &-headline {
        &:before,
        &:after {
            content: "";
            display: inline-block;
            position: relative;
        }
        &:before {
            content: "“";
            left: -10px;
            margin-left: -10px;
        }
        &:after {
            content: "“";
            transform: scaleX(-1);
            right: -10px;
            margin-right: -10px;
        }
    }
}