{% section 'header-wordmark-brown' %}

<div class="hero access bg-cream pt-40 md:pt-[114px]">
  <div class="container-700 pt-20 pb-40 md:py-8 space-y-8 text-center">
    <h1 class="mb-5 text-[50px] font-heading mb-8 lg:text-30">
      Reset Password
      </h1>
      {% form 'reset_customer_password', class: "form space-y-6 md:space-y-5" %}
        {{ form.errors | default_errors }}
        <div><input type="password" value="" name="customer[password]"  class="form__input tracking-widest border border-brown placeholder:text-brown" placeholder="Password" /></div>
        <div><input type="password" value="" name="customer[password_confirmation]"  class="form__input tracking-widest border border-brown placeholder:text-brown" placeholder="Password Confirmation" /></div>
        <button class="button">Reset</button>
      {% endform %}
  </div>
</div>