.customers {

    &-account {
        @apply bg-cream;

        @screen md {
            .order-name:before {
                @apply font-matter text-13 uppercase mr-1;
                content: "Order: ";
            }    
            .order-created:before {
                @apply font-matter text-13 uppercase mr-1;
                content: "Date: ";
            }   
            .order-financials:before {
                @apply font-matter text-13 uppercase mr-1;
                content: "Status: ";
            }   
            .order-fulfillment:before {
                @apply font-matter text-13 uppercase mr-1;
                content: "Fulfillment Status: ";
            }                                       
            .order-price:before {
                @apply font-matter text-13 uppercase mr-1;
                content: "Price: ";
            }                                       
        }
    }

    &-addresses {
        .dropdown__alt {
            @apply w-full items-center py-2 px-4 min-h-[59px] md:min-h-[50px];
            label {
                @apply hidden;
            }
            select {
                @apply font-matterlight text-18 md:text-16 ml-0 md:max-w-[80vw];
            }
            &:after {
                @apply top-6;
            }
        }
    }

}