.page-faqs main {
    @apply grid grid-cols-3 relative bg-cream pb-56 md:pb-4 md:grid-cols-1;
}
.faqs {
    &__nav {
        @apply sticky top-0 mt-28 col-end-2 md:mt-5 md:col-end-2 md:static;
        + .faqs__section {
            @apply mt-[100px] md:mt-8;
            @screen md {
                padding-top: 0 !important;
            }
        }
        @screen md {
            a {
                @apply text-brown;
                &.active {
                    @apply text-black;
                }
            }
        }
    }
    &__section {
        @apply order-9 col-start-2 col-span-2 mt-20 md:mt-8 md:col-start-1 md:col-span-1;
        .container-768 {
            @apply ml-0;
        }
        .toggle-trigger {
            &:before {
                content: "";
                @apply inline-block absolute -left-8 top-[12px] w-5 h-5 bg-no-repeat -rotate-90 -translate-y-1 origin-center transition-smooth md:top-2;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.996 11.192c0-3.137 2.083-5.444 3.325-6.54 1.849-1.631 3.911-2.51 4.914-2.51h.265V.992h-.265c-1.93 0-6.284 2.377-8.24 6.197l-.99-.002c-.634-1.246-1.56-2.422-2.726-3.45C4.238 1.936 1.96.993.766.992H.5l.002 1.15h.264c1.003 0 3.065.879 4.913 2.51C6.921 5.75 9.004 8.06 9.004 11.19v.31h.992v-.308Z' fill='%23A67C52' fill-rule='evenodd'/%3E%3C/svg%3E");
            }
            &.active:before {
                @apply rotate-0 -translate-y-[2px] -translate-x-1 md:translate-y-0;
            }
        }
        .toggle-container {
            p:last-child {
                @apply pb-8;
            }
        }
    }
}  