.product {
    @apply bg-cream;

    .header {
        &__logo path {
            @screen md {
                fill: theme("colors.black");
            }
        }
        .container-full .border-brown {
            @screen md {
                display: none;
            }
        }        
    }

    &__nav-gallery-item {
        @apply border border-transparent transition-smooth;
        &.active {
            @apply border-black;
        }
    }

    &__main-gallery {
        &:after {
            content: 'flickity';
            display: none; /* hide :after */
            @screen md_min {
                content: '';
            }
        }
        .flickity-page-dots {
            @apply bottom-5 flex flex-wrap items-center justify-center gap-6;
            .dot {
                @apply bg-brown mx-0 opacity-100;
                &.is-selected {
                    @apply bg-black w-4 h-4;
                }
            }
        }
    }

    &__hero {
        .toggle-trigger {
            @apply flex justify-between items-center;
            &:after {
                content: "+";
            }
            &.active:after {
                content: "-";
            }
        }
        .toggle-container.active {
            height: auto !important;
        }
    }

    .sticky__scroller-wrap,
    .sticky__scroller {
        @screen md {
            position: static !important;
            height: auto !important;
            transform: none !important;
        }
    } 

    .selector-wrapper {
        @apply invisible transition-smooth;
        &.dropdown__alt {
            @apply visible;
        }
        label {
            @apply hidden;
        }
    }

}