<section class="article__more pb-24 md:pb-8">
    <div class="container">
        <div id="more-items" class="grid grid-cols-2 gap-10 border-t border-brown pt-20 md:grid-cols-1 md:pb-8"></div>
    </div>
</section>

{% schema %}
{
    "name": "More Articles"
}
{% endschema %}