<section class="hero main__content bg-cream pt-40 md:pt-[114px]" data-viewport>
    <div class="container-975 pt-20 pb-40 md:py-8 space-y-8 text-17 leading-[1.59] richtext md:overflow-hidden">
        {{ page.content }}  
    </div>
</section>

{% schema %}
{
    "name": "Main"
}
{% endschema %}