<div class="hero bg-cream pt-40">
    <div class="container-700 pt-20 pb-40 md:py-8 space-y-8 text-center">
      {% if section.settings.title != blank %}
        <h1 class="mb-5 text-[50px] font-heading mb-8 lg:text-30">{{ section.settings.title }}</h1>
      {% endif %}
      <div><a href="/" class="button">Return Home</a></div>
    </div>
  </div> 
  
  {% schema %}
    {
      "name": "Main",
      "settings": [ 
        {
          "type": "text",
          "id": "title",
          "label": "Headline",
          "default": "Oops, looking for something?"
        },
        {
          "type": "richtext",
          "id": "bodycopy",
          "label": "Bodycopy"
        }
      ]
    }
  {% endschema %}